@model UKnowledge.Web.Models.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "AddCourse";
}

<h1>Add Course</h1>

<hr />
<div class="row">
    @if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message != "Course Added Successfully.")
    {
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "Course Added Successfully.")
    {
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                @ViewBag.Message
            </div>
        </div>
    }
    <div class="col-md-4">
        <form asp-action="AddCourse" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TutorName" class="control-label"></label>
                <input asp-for="TutorName" class="form-control" />
                <span asp-validation-for="TutorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="5" cols="40" class="control-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Upload" class="control-label"></label>
                <input type="file" asp-for="Upload" multiple class="form-control" />
                <span asp-validation-for="Upload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
